body {
    background-color: beige;
}

.row {
    display: flex;
    margin-top: 2%;
  }
  
  .paintedLady{
    flex: 33.33%;
   
  }
  .paintedLadyA {
    flex: 33.33%;
  }

  .TopHeader{
    background-color: aliceblue;
    padding: 50px;
    
  }

  .BottomHeader { 
    background-color: aliceblue;
    padding: 50px;
  }

h1{
    text-align: center;
    font-size:xx-large;
}

h2 {
    text-align: center;
    font-size:xx-large;
}

.info{
    text-align: center;
    padding: 200px;
    margin-top: 2px;
}